[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
django-debug-toolbar = "*"
autopep8 = "*"
lorem = "*"
mock = "*"

[packages]
psycopg2-binary = "*"
django = "*"
gunicorn = "*"
djangorestframework = "*"
djoser = "*"
django-auto-prefetching = "*"
django-cors-headers = "*"
whitenoise = "*"
django-constance = {extras = ["database"], version = "*"}
celery = "*"
redis = "*"
django-celery-beat = "*"
django-celery-results = "*"
python-keycloak = "*"

[requires]
python_version = "3.9"
